* {
    margin: 0;
}

#cont {
    height: 100%;
    width: 100vw;
    background-color: rgb(53, 53, 132);
    padding: 50px;
    margin: 0%;
}

.card {
    background-color: rgb(19, 19, 51);
    padding: 20px 30px;
}

.d-flex {
    display: flex !important;
}